@import '../../../stylesheets/mixins.import.less';
@import '../../../stylesheets/variables.import.less';

input.biginput{
  border:none;
  font-size:19pt;
  height:45px;
}

input.contentinput
{
  border-style: ridge;
  border-width: medium;
  border-color: blue;
  font-size: 12pt;
  columns: 100;
}
#blogContent{
  width:100%;
}
#newBlogRightSidebarMainAccordion{
  border-radius:0px !important;
}
#newBlogRightSidebarMainAccordion >h3{
  height:40px;
  line-height:40px;
  font-size:18px;
  cursor:pointer;
  border-radius:0px !important;
}
#newBlogRightSidebarMainAccordion >.ui-accordion-content{
  min-height:140px;
  border-radius:0px !important;
}
#newBlogRightSidebarMainAccordion >.ui-accordion-content >p{
  border-radius:0px !important;
}
#newBlogRightSidebarMainAccordion >h3 >span{
  float: left;
  margin:12px 5px 0px 5px;
  border-radius:0px !important;
}
#newBlogRightSidebarMainAccordion >h3 >span{
  float: left;
  margin:12px 5px 0px 5px;
  border-radius:0px !important;
}
.newBlogRightSidebarMainAccordionDraftsBadge{
  float: right !important;
  margin-right: 15px !important;
}
// PREVENT DRAFTS/BLOG-ELEMENTS HEADERS FROM GOING WHITE WHEN ACTIVE
.ui-state-active {
  background: #e6e6e6 url("/images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x !important;
}
.newblogexistingblogmainimage{
  max-height:64px;
  max-width:64px;
}
.newBlogRightSidebarMainAccordionContent{
  padding:0px 5px 0px 5px !important;
}
.newBlogRightSidebarMainAccordionContent >div{
  cursor:pointer;
}
.newBlogRightSidebarMainAccordionContentTextArea{
  height:60px;
  width:100%;
  margin-bottom:15px;
  cursor:pointer;
  background:white;
}

// NEW BLOG CONTENTS
#newBlogSubmitElementsContainer{

}
#newBlogSubmitElementsContainer >h3{
  border-radius:0px !important;
  opacity:0;
  font-size: 17px;
  padding: 4px;
  color: #C8C8C8 !important;
  font-weight: normal;
  background: #F2F2F2 !important;
  border:1px solid white;
  cursor:move;
}
#newBlogSubmitElementsContainer >h3:hover{
  opacity:1;
  border:1px solid #C8C8C8 !important;
}
#newBlogSubmitElementsContainer >h3 >span{
  float: left;
  margin: 3px 5px 0px 5px;
  border-radius:0px !important;
  opacity:.2;
}
#newBlogSubmitElementsContainer >div{
  background: white;
  border:1px solid white;
  border-radius:0px !important;
}
.newBlogSubmitElementsContainerDeleteElement{
  float:right !important;
  cursor:pointer;
  margin: 0px 5px 0px 0px !important;
  border-radius:0px !important;
  opacity:1 !important;
  cursor:pointer;
}
.newBlogSubmitElementsContainerDeleteElement:hover{
  float:right;
  color:grey;
}
.newBlogSubmitElementsContainerDeleteElement:active{
  position:relative;
  top:1px;
  right:1px;
}
.ui-accordion-header-icon{
  cursor:pointer;
}
